<div class="container">
  <div class="form-group">
    <input type="text" [(ngModel)]="Pname" class="form-control">
  </div>
 <div class="form-group">
    <input type="number" [(ngModel)]="Pprice" class="form-control">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="Pimg" class="form-control">
  </div> 
  <div class="form-control">
    <button (click)="onAdd()">Add products</button>
  </div>
</div>

<div class="row">
  <div *ngFor="let item of arr | async" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{item.Pimg}}" height="100" width="100" alt="...">
      <div class="caption">
        <h3>{{item.Pname}}</h3>
        <p>{{item.Pprice | currency :'INR' : true}}</p>
        <p><button (click)="onDelete(item.$key)" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
</p>
      </div>
    </div>
  </div>
</div>
