<input type="number" [(ngModel)]="no1">
<input type="number" [(ngModel)]="no2">
<button (click) = "onAdd()">Add</button>
<h1>{{ans}}</h1>
<!--<ul class="list-group">
  <li *ngFor="let item of arr" class ="list-group-item">{{item}}</li>
</ul>-->
<table class="table">
  <tr *ngFor="let item of arr">
      <td>{{item.Id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
      <td>
        <button (click)="onDelete(item)">Delete</button>
      </td>
  </tr>

</table>
<div class="container">
  <div class="form-group">
      <input [(ngModel)]="Id" placeholder="enter id" type="text" class="form-group">
  </div>
      <div class="form-group">
      <input [(ngModel)]="Title" placeholder ="enter title" type="text" class="form-group">
      </div>
      <div class="form-group">
      <input [(ngModel)]="Status" placeholder="enter status" type="text" class="form-group">
      </div>
      <div class="form-group">
      <button (click)="onAdd1()">Add Task</button>
     </div>
</div>
